[submodule "media3"]
	path = media3
	url = https://github.com/bluan2506/media
	branch = gramophone-app
[submodule "hificore/src/main/cpp/libusb-cmake"]
	path = hificore/src/main/cpp/libusb-cmake
	url = https://github.com/libusb/libusb-cmake
