*.iml
.gradle
/local.properties
/package.properties
/.idea
/.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Local machine-specific Gradle JDK path
gradle/config.properties
